body{
    outline: none;
    font-family: Geneva,sans-serif;
    background-color: rgb(0, 194, 253);
}
header{
    background-color: rgb(0, 90, 226);
    color: rgb(219, 146, 10);
    height: 100px;
}
header div a{
    font-size:2.3em;
}
#logo{
    float:left;
}
#navigation{
    font-size: 1.5em;
}
#navigation div div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#navigation div div  a:hover{
    color: rgb(255, 0, 200);
}
#navigation div div a:active{
    color: rgb(7, 233, 56);
}
#tovar, #tabl , #form{
    background-color: aliceblue;
}
#press{
    float:left;
    display: block;
}
#press1 p{
    color: rgb(37, 7, 172);
    display: block;
    font-size: 2em;
}
#pric{
    width:100%;
    color: rgb(37, 7, 172);
    font-size: 2em;
}
table{
    border-collapse: collapse;
    color: darkslateblue;
}
table tr,table th,table td{
    border: 3px solid rgb(151, 2, 2);
    padding: 10px;
}
table tr{
    padding: 18px;
}
table tr:nth-child(odd){
    color: rgb(240, 42, 42);
    background-color: rgb(31, 243, 250);
}

table tr:nth-child(even){
    background-color: rgb(216, 166, 0);
}
footer{
    background-color:  rgb(0, 90, 226);
    border-top: 1px solid darkgray ;
    color: rgb(219, 146, 10);
    font-size: 2em;
}
